<div class="container-fluid">
  <div class="d-flex justify-content-center">

    <div class="card w-25">
      <div class="card-body">
        <h5 class="card-title">Case Manager</h5>
        <a href="/lobbycentral/lobby" class="btn btn-primary" id="lobby"> LOBBY </a>
      </div>
    </div>

    <div class="card w-55">
      <div class="card-body">
        <h5 class="card-title">Admin/Supervisor</h5>
        <a href="/lobbycentral/services" class="btn btn-primary" id="services"> Service </a>
        <a href="/lobbycentral/users?page=1" class="btn btn-primary" id="users"> Users </a>
        <a href="/lobbycentral/locations" class="btn btn-primary" id="locations"> Location </a>
        <a href="/lobbycentral/queues" class="btn btn-primary" id="queues"> Queue </a>
        <a href="/lobbycentral/report" class="btn btn-primary" id="report"> Report </a>
      </div>
    </div>

  </div>
</div>