<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="utf-8">
<title>My Crawler</title>
<style>
  table {
    color: #333;
    /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif;
    /* Nicer font */
    width: 640px;
    border-collapse:
      collapse;
    border-spacing: 0;
  }

  td, th {
    border: 1px solid #CCC;
    height: 30px;
  }

  /* Make cells a bit taller */
  th {
    background: #F3F3F3;
    font-weight: bold;
    text-align: center;
  }

  td {
    background: #FAFAFA;
    /* Lighter grey background */
    text-align: center;
    /* Center our text */
  }

  p {
    color: white;
  }

  .form-horizontal {
    padding: 35px 40px 55px 40px;
    background: #44494d;
    border-radius: 5px;
  }

  .form-horizontal .form-group {
    margin: 0 0 30px 0;
    position: relative;
  }

  .form-horizontal .heading {
    display: block;
    font-size: 28px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-horizontal .form-control {
    height: 50px;
    background: #33383c;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0 20px;
    font-size: 16px;
    color: #7f8291;
    position: relative;
    transition: all 0.3s ease 0s;
  }

  .form-horizontal .form-control:focus {
    box-shadow: none;
    outline: 0 none;
  }

  .form-horizontal .form-control::-webkit-input-placeholder,
  .form-horizontal .form-control::-moz-placeholder,
  .form-horizontal .form-control::placeholder {
    color: #c4c4c4;
  }


  .form-horizontal .text {
    float: left;
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #8b8b8b;
    line-height: 20px;
    margin-left: 7px;
  }

  .form-horizontal .btn,
  .form-horizontal .btn:focus {
    width: 100%;
    padding: 12px 30px;
    background: linear-gradient(to right, #e03616, #de0370);
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
  }

  .form-horizontal .btn:hover {
    background: linear-gradient(to right, #de0370, #e03616);
  }

  h2 {
    color: white
  }

  dl.inline-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 300px;
    /* set the container width*/
    overflow: visible;
  }

  dl.inline-flex dt {
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  dl.inline-flex dd {
    flex: 0 0 50%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media print {
    .print-hidden {
      display: none
    }
  }
</style>

</head>

<body style="background-color: #272435; padding: 0px; margin:0px;">
  {{{ body }}}
</body>

</html>