<div class="container">

  <span> <a href="/lobbycentral/services" class="btn btn-primary" id="services"> Service </a> </span>

  <span> <a href="/lobbycentral/users" class="btn btn-primary" id="users"> Users </a> </span>

  <span> <a href="/lobbycentral/locations" class="btn btn-primary" id="locations"> Location </a> </span>

  <span> <a href="/lobbycentral/queues" class="btn btn-primary" id="queues"> Queue </a> </span>

</div>