<div class="container-fluid col-xs-12" style="font-size: 90%">

  <div class="row">
    {{> menu }}
  </div>
  
  <div class="row">  </div>

  <h2 class="heading">
    <center>
      Rerport Customer. 
    </center>
  </h2>
 
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Check In</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td><strong>
              First Name
            </strong></td>
            <td>
              Last Name
            </td>
            <td>
              Check In date and time
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>