<div class="container-fluid h-100">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first" style="margin-top: 1em; margin-bottom: 1em">
        <img src="/images/lobbycentral.png" id="icon"/>
      </div>

      <!-- Login Form -->
      <form action="/lobbycentral/login">
        
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">

        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">

        <div style="height: 2em"></div>

        <input type="submit" class="fadeIn fourth" value="Log In">

      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        Please login to access LobbyCentral
      </div>

    </div>
  </div>

</div>