<div class="container-fluid col-xs-12" style="font-size: 90%">

  <div class="row">
    {{> lobbycentral/menu }}
  </div>
  
  <div class="row">  </div>

  <h2 class="heading">
    <center>
      Locations of LobbyCentral, Total {{listOfLocations.length}}. 
    </center>
  </h2>
 
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Location</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each listOfLocations}}
          <tr class="">
            <td><strong>
              {{ this.locationName}}
            </strong></td>
            <td>
              {{ this.status}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>