
          <div class="sidebar-header center">
            <img src="/images/SD.png" width="200" height="200" />
          </div>
        
          <ul class="list-unstyled components">
            <p>Child Support Services</p>
            <li class="active">
              <a href="#queueSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Queues</a>
              <ul class="collapse list-unstyled" id="queueSubmenu">
                <li>
                  <a href="#">Central</a>
                </li>
                <li>
                  <a href="#">Escondido</a>
                </li>
                <li>
                  <a href="#">National City</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Administration</a>
              <ul class="collapse list-unstyled" id="adminSubmenu">
                <li>
                  <a href="/lobbycentral/services">Service/Visit Reasons</a>
                </li>
                <li>
                  <a href="/lobbycentral/users?page=1">Case Managers</a>
                </li>
                <li>
                  <a href="/lobbycentral/users?page=1">Customer</a>
                </li>
                <li>
                  <a href="/lobbycentral/queues">Queues</a>
                </li>
                <li>
                  <a href="/lobbycentral/report">Report</a>
                </li>
                <li>
                  <a href="#">Settings</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#statusSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">My Status</a>
              <ul class="collapse list-unstyled" id="statusSubmenu">
                <li>
                  <a href="#">Available</a>
                </li>
                <li>
                  <a href="#">Away</a>
                </li>
                <li>
                  <a href="#">Launch</a>
                </li>
              </ul>
            </li>
          </ul>
        
          <ul class="list-unstyled CTAs">
            <li>
              <a href="#" class="article">Log Out</a>
            </li>
          </ul>
 